name: CI/CD Pipeline

on: [push]

env:
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version"

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean compile

  verify-and-package:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run tests and package
        run: mvn verify

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: monicaferrergc
          password: ${{ secrets.PAT }}

      - name: Build and push image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ghcr.io/monicaferrergc/tos:latest

  deploy:
    needs: verify-and-package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v3

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCLOUD_SA }}

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: apsv-24
          location: us-central1

      - name: Create GHCR secret
        run: |
          kubectl create secret docker-registry github-registry \
            --docker-server=ghcr.io \
            --docker-username=monicaferrergc \
            --docker-password="${{ secrets.PAT }}" \
            --docker-email=monica.ferrergc@gmail.com \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy to GKE
        run: kubectl apply -f k8s/

      - name: Check resources
        run: |
          kubectl get deployments
          kubectl get pods
          kubectl get svc
